<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="GelfUdpAppender" type="Gelf4Net.Appender.GelfUdpAppender, Gelf4Net">
    <remoteAddress value="" />
    <remotePort value="" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="FATAL" />
    </filter>
    <layout type="Gelf4Net.Layout.GelfLayout, Gelf4Net">
      <param name="AdditionalFields" value="app:UdpAppender,version:1.0,Level:%level,Environment:STAGING,Application:Orp.Core.Azure.Function.Template" />
      <param name="Facility" value="RandomPhrases" />
      <param name="IncludeLocationInformation" value="true" />
    </layout>
  </appender>
  <root>
    <appender-ref ref="GelfUdpAppender" />
  </root>
</log4net>